.brand {
  display: flex;
  align-items: center; /* Căn giữa logo và chữ Lora theo chiều dọc */
  justify-content: space-between; /* Đảm bảo khoảng cách giữa menu và logo */
  background-color: #fff; /* Màu nền của thanh header (nếu cần) */
  border-bottom: 2px solid #f1f1f1; /* Đường viền phía dưới thanh header */
}

.App {
  text-align: center;
}

/* .App-logo {
  height: 40px;
  pointer-events: none;
  margin: auto;
  display: inline-block;
} */

.App-logo-wrapper {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang nếu cần */
}

.App-logo {
  height: 44px; /* Điều chỉnh chiều cao của logo */
  width: auto; /* Giữ tỷ lệ khung hình gốc của logo */
  margin-left: 10px; /* Khoảng cách giữa logo và tên "Lora" */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
